

<table class="col-md-10 mx-auto table table-striped table-hover table-bordered mt-4">
    <tr>
    <th>Test ID</th>
    <th>Test Title</th>
    <th>Total Marks</th>
    <th>Time Allowed</th>
    <th>Delete</th>
    </tr>
    <tr *ngFor = "let test of tests">
        <td>{{test.testId}}</td>
        <td>{{test.testTitle}}</td>
        <td>{{test.testTotalMarks}}</td>
        <td>{{test.timeAllowed}}</td>
        <td><a class="btn btn-outline-dark text-danger" (click)="deleteTest(test.testId)">Delete</a> </td>
    </tr>
</table>
