<section class="col-md-10 mx-auto mt-4">

    <div class="alert alert-success" *ngIf="info !=undefined">{{info}}</div>
    <div class="alert alert-danger" *ngIf="errorInfo != undefined">{{errorInfo}}</div>

    <form #frm="ngForm" (ngSubmit)="addTest()">

        <div class="mt-3">Test Title</div>
        <div><input type="text" name="txttitle" [(ngModel)]="test.testTitle" class="form-conrol" id="testTitle"
             placeholder="Enter Title" required/></div>
        <div class="mt-3">Total Marks</div>
        <div><input type="text" name="txtmarks" [(ngModel)]="test.testTotalMarks" class="form-conrol" id="testTotalMarks"
                placeholder="Enter Total Marks" required/></div>     
        <div class="mt-3">Time Allowed</div>
        <div><input type="text" name="txttime" [(ngModel)]="test.timeAllowed" class="form-conrol" id="timeAllowed"
                placeholder="Enter Time Allowed" required/></div>

        <div class="mt-4"><input type="submit"[disabled]="!frm.valid" class="btn btn-outline-dark"/></div>
    </form>

</section>